# Large data folders
archive/
dataset/
data/
RoadSocial/

# Python environments

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local secrets
.env
.env.*

# Notebook checkpoints
.ipynb_checkpoints/
.venv/
venv/
# Local outputs\

archive.zip
dataset.zip